/* .img{
  height: 400px;
} */
.tea{
  font-size: 60px;
  background-color: blueviolet;
}
.submit{
  font-size: 50px;
  color: blue;
}
.home{
  font-size: 80px;
  color: red;
}
.butt{
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}
.spotify{
  height: 150px;
  width: 150px;
  border-radius: 5px;
}